body{
    background-color: #f0f0f0;
    padding-top: 50px;
}
header{
    background-color: #29bde0;
    height: 50px;
}
.list{
    margin-top: 12px;
    margin-left: 5%;
    padding: 0;
    height: 25px;
    width: 25px;
    background: url("image/sprite.png") no-repeat;
    background-position: -0 -50px;
}
.right{
    position: fixed;
    right: 3px;
    top: 50%;
    background: url("image/sprite.png") no-repeat;
    background-position: -0 -126px;
    width: 14px;
    height: 28px;
}
.top{
    padding-top: 21px;
    margin: 14px 5% ;
    background-color: #fff;
    height: 58px;
    font-size: 16px;
    color: #9a9a9a;

}
.wrap{
    margin: 14px 5%;
    background-color: #fff;
    height: 388px;
}
.first{
    height: 45px;
    font-size: 18px;
    color: #fbb435;
    padding-top: 13px;
    border: #fbb435 solid;
    border-width: 0 0 1px 0;
}
.two{
    margin: 12px 5%;
    color: #787878;
}
.box1{
    padding-top: 25px;
    background-color: #29bde0;
    height: 67px;
    font-size: 16px;
    color: #fff;
}
.box2{
    padding-top: 15px;
    height: 28px;
    font-size: 12px;
}