<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=NO">
    <title>practice</title>
    <style >
        h1,h2,h3,h4,h5,h6,ul,ol,li,dl,p{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<div class="header">
    <a href="1/ninebox.html">九宫格</a>
    <a href="3/grape.html">葡萄藤页面</a>
    <a href="4/login.html">登陆页面</a>
    <a href="5/person.html">护工界面</a>
    <a href="6/findperson.html">找护工界面</a>
    <a href="7/homepage.html">桌游精灵首页</a>
    <a href="7/vote.html">投票</a>
    <a href="7/result.html">结果</a>
</div>
</body>
</html>
