body{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}
header{
    height: 50px;
    background-color: #5fc0cd;
}
.header-center{
    margin: 7px 0;
    padding: 0;
    height: 35px;
    background-color: #55a8b3;
    color: #fff;
    border: #55a8b3 1px solid;
    border-radius: 5px;
}
.center-left{
    font-size: 17px;
    line-height: 17px;
    padding: 8px 0;
    height: 35px;
    background-color: #55a8b3;
    color: #fff;
    border: #55a8b3 1px solid;
    border-radius: 5px;
}
.center-right{
    font-size: 17px;
    line-height: 17px;
    padding: 8px 0;
    height: 35px;
    background-color: #fff;
    color: #5fc0cd;
    border: #fff 1px solid;
    border-radius: 5px;
}
.header-right{
    margin: 12px 0 12px 70%;
    background: url("image/sprite.png") no-repeat;
    background-position: -50px -50px;
    width: 25px;
    height: 25px;
}
footer{
    height: 50px;
    background-color: #f8fafb;
    font-size: 10px;
}
.footer-center{
    width: 50px;
    height: 50px;
    background: url("image/sprite.png") no-repeat;
}
.footer-left{
    margin-top: 7px;
    width: 25px;
    height: 25px;
    background: url("image/sprite.png") no-repeat;
    background-position: -50px 0;
}
.footer-right{
    margin-top: 7px;
    width: 25px;
    height: 25px;
    background: url("image/sprite.png") no-repeat;
    background-position: -50px -25px;
}
.top{
    margin: 5px;
    height: 40px;
    line-height: 14px;
    font-size: 14px;
    color: #999;
    border: solid #e1e5e7;
    border-width: 0 0 1px 0;
}
.name{
    width: 100%;
}
.bea{
    border: solid #e1e5e7;
    border-width: 0 1px 0 0;
    border-radius: 0;
}
.tea{
    padding: 0;
    margin: 0;
}
.dropdown-menu{
    min-width: 100%;
}
.wrap{
    height: 85px;
    margin-top: 15px;
    padding-left: 5%;
    border: solid #e1e5e7;
    border-width: 0 0 1px 0;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box{
    height: 15px;
    margin-bottom: 10px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.date{
    display: inline-block;
    padding: 0;
    height: 15px;
    width: 15px;
    background: url("image/sprite.png") no-repeat;
    background-position: -15px -50px;
}
.site{
    display: inline-block;
    padding: 0;
    height: 15px;
    width: 15px;
    background: url("image/sprite.png") no-repeat;
    background-position: -0 -50px;
}
.box1{
    display: inline-block;
    padding: 0;
    height: 15px;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 15px;
    color: #999;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box2{
    display: inline-block;
    padding: 0;
    height: 15px;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box3{
    display: inline-block;
    padding: 0;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 25px;
    height: 20px;
    font-size: 14px;
    color: #e63b0e;
}
.font{
    display: inline-block;
    margin: 28px 10% 22px 10%;
    height: 20px;
    width: 10px;
    background: url("image/sprite.png") no-repeat;
    background-position: -30px -50px;
}